# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test

# Output of the go command
**/bin/
**/pkg/

# Go modules
go.sum
go.work
go.work.sum

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Dependency directories
vendor/

# Build directories
/build/
